
.row {
    padding: 5px;
    overflow:auto;
}

#button {
    position: absolute;
    color: black;
    font-size: 12px;
    bottom: 0px;
    right: 2px;
}

#logo {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    margin-left: 1px;
    border: 1px solid black;
    height: 132px;

    overflow:auto;
}

#enunciado-exercicio {
    padding: 10px 0px 0px 10px;
    border: 1px solid black;
    height: 132px;

    overflow:auto;
}

#lista-de-exercicio {
    margin-left: 1px;
    padding: 0px 10px 10px 10px;
    border: 1px solid black;
    height: 400px;

    overflow:auto;
}

#manual-de-sintaxe{
    margin-left: 1px;
    padding: 0px 10px 10px 10px;
    border: 1px solid black;
    overflow:auto;
    height: 132px;


}

#feedback {
    padding: 10px 0px 0px 10px;
    border: 1px solid black;
    height: 400px;

    overflow:auto;
}

#terminal {
    position: relative;
    height: 400px;

    padding: 18px 10px 10px 10px;
    border: 1px solid black;
    overflow:auto;

}

#categorias {
    border: 1px solid black;
    text-align: center;
}

textarea {
    font:10px verdana, arial, helvetica, sans-serif;
    height: 250px;
    width: 563px;
}
