.row {
    padding: 0px;
    overflow: hidden;
}
body {
}

#head {
    position: relative;
}

#body {
    position: relative;
    height: 70%;
}

#footer {
    position: relative;
    background-color: #141414;
    height: 114px;
}

#heading {
    font-size: 28px;
    margin-left: 10px;
    padding-left: 10px;
    overflow: hidden;
    background-color: #141414;
    color: white;
}

#button {
    position: absolute;
    color: black;
    font-size: 12px;
    bottom: 0px;
    right: 2px;
}

#painel {
	margin-left: 6px;
	padding-left: 9px;
    background-color: #E5E5E5;
    height: 100%;
    width: 100%;
}

.tabs li {
    list-style: none;
    display: inline;
}

.tabs a {
    padding: 5px 10px;
    display: inline-block;
    background: #666;
    color: #fff;
    text-decoration: none;
    margin-left: -43px;
    height: 100%;
    width: 135.75px;
    font-size: 16px;
    font-weight: 550;
}

.tabs a.active {
    background: #fff;
    color: #000;
}

.abas {
    overflow: auto;
    height: 532px;
}

.titulo {
    margin-left: 20px;
}

.newLine {
    display: block;
    height: 10px;
}

#terminal {
	position: relative;
	padding: 18px 10px 10px;
	overflow: auto;
	height: 100%;
    background-color: #020714;
}

#solucaoDoUsuario {
    font:20px monospace;
    background-color: #0C152B;
    color: #F5EAE1;
    height: 500px;
    width: 100%;
    color: #F5EAE1;
    font-size: 14px;
    resize: none;
}

#rodapeDoTerminal {
    background-color: #020714;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}

#mensagemDeTexto {
    font-size: 20px;
    font-weight: 500 !important;
    font-style: italic;
    color: #F5EAE1;
}

#botoes {
    text-align: right;
}