@(solucoes: List[SolucaoDoExercicio], solucaoForm: Form[SolucaoDoExercicio])
@import helper._

@main("e-Practice") {

<script type='text/javascript'>

$(document).ready(alttela);
$(window).resize(alttela);

function alttela() {
        if ($(window).width() > $('#terminal').width()){
            $(document).css('position', 'fixed');
        }
        else{
            $(document).css('position', 'relative');
        };
};
</script>

<div class="row" id="head">
        <div class="col-sm-3">
            <div id="logo" class="left">
                <h1>e-practice</h1>
            </div>

        </div>

        <div class="col-sm-6">
            <section id="enunciado-exercicio">
                <p>
                    Exercício Proposto
                </p>
                <ol>
                <p>Casamentiss fais malandris se pirulitá
                    Cevadis im ampola pa arma uma pindureta
                    Paisis, filhis, espiritis santis
                    Manduma pindereta quium dia nois paga
                </p>
                </ol>
            </section>
        </div>

        <div class="col-sm-3">
            <section id="manual-de-sintaxe">
                <p>Manual de Sintaxe</p>
                <ol>
                    <li>Casamentiss fais malandris se pirulitá</li>
                    <li>Cevadis im ampola pa arma uma pindureta</li>
                    <li>Paisis, filhis, espiritis santis</li>
                    <li>Manduma pindereta quium dia nois paga</li>
                </ol>
            </section>
        </div>
    </div>

    <div class="row" id="body">
        <div class="col-sm-3">
            <section id="lista-de-exercicio">
                <h3>Lista de Exercícios</h3>
                <ol>
                <li>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.</li>
                <li>Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</li>
                <li>Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.</li>
                <li> Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis</li>
                <li> i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</li>
                </ol>
                </section>
        </div>

        <div class="col-sm-6">
            <section id="terminal" in>

                @form(routes.Application.novaSolucao()){
                    @textarea(solucaoForm("solucaoDoUsuario"), 'rows -> 2, 'placeholder -> "Digite a solução do exercício", '_showConstraints -> false, '_label -> "", 'onKeyDown -> "quandoPressionaTab(event)")
                    <input id="botaoDeEnviar" type="submit" name="valor" value="Enviar" onclick="desabilitaBotao()"/><label id="status">@flash.get("status")</label>
                }
            </section>
        </div>


        <div class="col-sm-3">
            <section id="feedback">
                <h3>FeedBack | Dicas:</h3>
                <p>
                    <ul>
                        @for(solucao <- solucoes){
                        <li>
                            @solucao.solucaoDoUsuario

                            @form(routes.Application.deletaSolucao(solucao.id)){
                            <input class="enviar" type="submit" value="Deletar">
                            }
                        </li>
                        }
                    </ul>
                </p>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <section id="categorias">
                <h3>
                    <img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/arrow-left-128.png" width="50px">
                         | Categorias |
                    <img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/arrow-right-128.png" width="50px">

                </h3>
            </section>
        </div>
    </div>
}