@(solucoes: List[SolucaoDoExercicio], solucaoForm: Form[SolucaoDoExercicio])
@import helper._

@main("e-Practice") {

<div class="container-fluid" id="head">
    <div class="row">
        <div id="heading" class="col-md-12">
            <img class="logo" src="assets/images/logo_e-practice.png"/>
        </div>
    </div>
</div>

<div class="container-fluid" id="body">
    <div class="row">
        <div class="col-md-3">
            <section id="painel">
                <ul class='tabs'>
                    <li><a id='tabLink1' href='#tab1' class='@session.get("tabLink1")'>Exercício</a></li>
                    <li><a id='tabLink2' href='#tab2' class='@session.get("tabLink2")'>Manual</a></li>
                    <li><a id='tabLink3' href='#tab3' class='@session.get("tabLink3")'>Feedback</a></li>
                </ul>
                <div id='tab1'>
                    <div class="abas">
                        <p><pre>@session.get("exercicio")</pre></p>
                    </div>
                </div>
                <div id='tab2'>

                    <div class="abas">

                        <h4> Palavra reservada: </h4>

                        <h5> var </h5> <p> Para declaração de variáveis. </p>
                        <h5> varres </h5> <p>Nome de variável reservado para o resultado final.</p>

                        <h4>Nome da variável:</h4>

                        <h5>nomeDaVariavel</h5> <p>O nome sempre deve começar com uma letra.</p>

                        <h4>Símbolo reservado:</h4>

                        <h5> :</h5> <p>Símbolo de declaração de variável.</p>
                        <h5> = </h5> <p>Símbolo de atribuição de expressão(ões).</p>
                        <h5> "" </h5> <p>Símbolo para constante string.</p>
                        <h5> <> </h5> <p>Símbolo de concatenação.</p>
                        <h5> + </h5> <p>Operador aritmético da adição.</p>
                        <h5> - </h5> <p>Operador aritmético da subtração.</p>
                        <h5> * </h5> <p>Operador aritmético da multiplicação.</p>
                        <h5> / </h5> <p>Operador aritmético da divisão.</p>
                        <h5> () </h5> <p>Símbolo de priorização de expressão.</p>

                        <h4>Tipos de variáveis:</h4>

                        <h5>Inteiro</h5> <p>Para números inteiros.</p>
                        <h5>String</h5> <p>Para textos.</p>

                        <p>Observação: O tipo da variável é sempre declarado com a primeira letra maiúscula, como nos exemplos citados acima.</p>

                        <h4>Declaração de Variável:</h4>

                        <h5>var nomeDaVariavel : TipoDaVariavel </h5>
                        <h5>var resultado : TipoDaVariavel</h5>
                        <h5>var variavel : TipoDaVariavel</h5>

                        <h4>Exemplos:</h4>
                        <h5>var contador : Inteiro</h5>
                        <h5>var nome : String</h5>
                        <h5>var resultado : String</h5>
                        <h5>var resultado : Inteiro</h5>
                        <span class="newLine"></span>
                        <h4>Atribuição:</h4>

                        <h5>nomeDaVariavel = "texto"</h5>
                        <h5>nomeDaVariavel = numero</h5>
                        <h5>nomeDaVariavel = variavel</h5>

                        <h4>Exemplos:</h4>
                        <h5>nome = "Ana"</h5>
                        <h5>nome = "ana"</h5>
                        <h5>nome = "ANA"</h5>
                        <h5>contador = 5</h5>
                        <h5>resultado = nome</h5>
                        <h5>resultado = contador</h5>
                        <span class="newLine"></span>

                        <h4>Concatenação:</h4>

                        <h5>nomeDaVariavel = "texto" <> "texto"</h5>
                        <h5>nomeDaVariavel = "texto" <> variavel</h5>
                        <h5>nomeDaVariavel = variavel <> variavel</h5>

                        <p>Observação: Concatenações podem apenas ser realizadas entre tipos string.<p>

                        <h4>Exemplos:</h4>
                        <h5>nome = "Ana" <> "Estela"</h5>
                        <h5>nome = "Ana" <> sobrenome</h5>
                        <h5>nome = nome <> sobrenome</h5>
                        <span class="newLine"></span>

                        <h4>Operações Aritméticas:</h4>

                        <h5>nomeDaVariavel = variavel {operadorAritmético} variavel</h5>
                        <h5>nomeDaVariavel = numero {operadorAritmético} variavel</h5>
                        <h5>nomeDaVariavel = numero {operadorAritmético} numero</h5>
                        <h5>nomeDaVariavel = expressão {operadorAritmético} numero</h5>
                        <h5>nomeDaVariavel = variavel {operadorAritmético} expressão</h5>
                        <h5>nomeDaVariavel = expressão {operadorAritmético} expressão</h5>

                        <p>Observação: Operações aritméticas podem apenas ser realizadas entre tipos inteiros.</p>

                        <h4>Exemplos:</h4>
                        <h5>resultado = x + y</h5>
                        <h5>resultado = 1 + x</h5>
                        <h5>resultado = 2 / 1</h5>
                        <h5>resultado = (x + y) * 3</h5>
                        <h5>resultado = z + (x + y)</h5>
                        <h5>resultado = (x + y) - (4 * z)</h5>

                        <h4> Exemplo de código: </h4>
                        <h5><p>var x : String</p>
                            <p>varres resultado : String<p/>
                            <p>x = "Aluno " </p>
                            <p>resultado = x <> "Esperto"</:></p>
                        </h5>
                        <span class="newLine"></span>
                    </div>
                </div>

                <div id='tab3'>
                    <div class="abas">
                        @if(flash.get("mensagemDeFeedback") != null){
                            <p><pre>@flash.get("mensagemDeFeedback")</pre></p>
                        } else {
                            @if(flash.get("solucaoDoUsuario") != null){
                                <p><pre>Código inválido. Sintaxe não reconhecida.</pre></p>
                            } else {
                                <p>@flash.get("mensagemDeFeedback")</p>
                            }
                        }
                        <a data-toggle="modal" href="#myModal">Visualizar resultado do exercício</a>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" id="x">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Resultado do Exercício</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Resultado: @flash.get("resultadoDoProfessor")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-9">
            <section id="terminal"  class="row">
                @form(routes.Application.novaSolucao(), 'id -> "formCodigo") {
                @helper.input(field = solucaoForm("solucaoDoUsuario"), '_showConstraints -> false, '_label -> "") { (id, name, value, args) =>
                <div>
                    <textarea name="@name" id="@id" class="textAreaComLinhas" rows='2' placeholder="Digite sua solução aqui" spellcheck="false">@flash.get("solucaoDoUsuario")</textarea>
                </div>
                }
            </section>
            <section id="rodapeDoTerminal" class="row">
                <div id="mensagemDeTexto" class="col-sm-8">
                    <label id="status">@flash.get("status")</label>
                </div>
                <div id="botoes" class="col-sm-4">
                    <button type="button" id="botao-de-limpar"  class="btn btn-default btn-sm active btn-spacing">Limpar <span class="glyphicon glyphicon-trash"></span></button>
                    <button type="button" id="botao-de-enviar" class="btn btn-default btn-sm btn-spacing" name="valor">Enviar <span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" id="botao-proximo-exercicio" class="btn btn-default btn-sm">Próximo <span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
            </section>
        </div>
    </div>

    <div class="row" id="footer">
        <div class="col-md-12"></div>
    </div>
</div>

    }
}
