@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-3.1.1-dist/css/bootstrap.min.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("bootstrap-3.1.1-dist/js/bootstrap.min.js")"></script>
    </head>
    <body>
        <main>
            @content
        </main>
    </body>

</html>
